<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <body>
        <div id="container">
            <center>
                <embed src="http://www.dot.ca.gov/d4/d4cameras/ct-cam-pop-E4_at_Port_Chicago_Hwy.html" style="width:400px; height: 300px;">
            </center>
        </div>
    </body>
</html>