<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

<body>
    <div id="container">
        <center>
            <img src="http://cctvn07.freeway.gov.tw:8080/stream/GetStreamVideo?pm=169,A33,13">
        </center>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./sockettest.js"></script>

</html>